---
export const getStaticPaths = async () => {
  //  console.log(url)
  let paths = [];
  try {

    const endpoint = {
      params: { language: "", word: "" },
    };
    const url = new URL(`${import.meta.env.STRAPI_URL}/api/languages`);
    const response = await fetch(url.toString());
    const result = await response.json();
    const languages = result.data;
    languages.forEach(async (obj) => {
      const language = obj.attributes.slug;
      // console.log(`language: ${language}`)
      const url = new URL(`${import.meta.env.STRAPI_URL}/api/${language}s`);
      const response = await fetch(url.toString());
      const result = await response.json();
      const words = result.data;

      words.forEach((obj) => {
        const word = obj.attributes.word;
        // console.log(word)
        endpoint.params.language = language;
        endpoint.params.word = word;
        // console.log(endpoint)
        paths.push(endpoint);
        
      });
      console.log(paths)
    });
    
    
    
  } catch (error) {
    console.log(error.message);
    
  }
  return paths;
  //  console.log(languages)
  // return [
  //   {params:{language:"kalenjin",word:"Anyone"}}
  // ];
};

const { word } = Astro.params;
---

<h1>{word}</h1>
