---
import Main from '../../../layouts/Main.astro';
import fetchApi from '../../../lib/strapi';
import type Language from '../../../interfaces/language'
import {Debug} from 'astro/components'
 

export async function getStaticPaths(){
  const languages= await fetchApi<Language[]>({
    endpoint: 'languages',
    wrappedByKey: 'data',
  });

    const routes=languages.map((language) => {
           const endpoint={
            params:{language:''}
           } 
           endpoint.params.language=language.attributes.slug
            // `{params: {language:${language.attributes.slug}`})
   return endpoint})
              
   return routes
}
// const routes=await getStaticPaths()
const {language}=Astro.params;
const url = new URL(`${import.meta.env.STRAPI_URL}/api/${language}s`);
let res=await fetch(url.toString())
res=await res.json();
const words=res.data;
// console.log(routes)

---
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Language | {language}</title>
  </head>

  <body>
    
  <Main>
    
       <h1>{language} words list</h1>
         <ul>
           <li>
             {
               words.map(word=>(
                 <a href={`${word.attributes.word}`} >
                   {word.attributes.word}
                 </a>
                 )
               )
    
              }
           <li/>
         </ul>
  </Main>
   
     
  </body>
</html>
<!-- <style>


  h1{
      font-size:large;
  }
  
  ul{
      list-style: none;
      padding:0
  }
  ul li{
      display:flex;
      flex-direction: column;
      line-height: 1.5rem;
     
  }

  a{
   color:teal;
   text-decoration: none;
  
  }
  a::after{
      content:'»' ;
     
  }
  a:hover::after{
      padding-left: 2px;
  }
</style> -->