---
import BaseHTML from '../../../layouts/BaseHTML.astro';
import MetaTag from '../../../components/MetaTag.astro';
import Main from '../../../layouts/Main.astro';
import fetchApi from '../../../lib/strapi';
import type Language from '../../../interfaces/language'
import {Debug} from 'astro/components'
 

export async function getStaticPaths(){
  const languages= await fetchApi<Language[]>({
    endpoint: 'languages',
    wrappedByKey: 'data',
  });

    const routes=languages.map((language) => {
           const endpoint={
            params:{language:''}
           } 
           endpoint.params.language=language.attributes.slug
            // `{params: {language:${language.attributes.slug}`})
   return endpoint})
              
   return routes
}
// const routes=await getStaticPaths()
const {language}=Astro.params;
const url = new URL(`${import.meta.env.STRAPI_URL}/api/${language}s`);
let res=await fetch(url.toString())
res=await res.json();
const words=res.data;
// console.log(routes)
const currentUrl=Astro.url.pathname;
// console.log(currentUrl)
---


   
  <BaseHTML>
      
      <meta name="description" content=`List of words found in ${language} language` slot="head"/>
      <title slot="title">Language | {language}</title>
 
    <Main>
    
         <h1>{language} words list</h1>
           <ul>
             <li>
               {
                 words.map(word=>(
                   <a href={`${currentUrl}/${word.attributes.word}`} >
                     {word.attributes.word}
                   </a> 
                   )
                 )
    
                }
             <li/>
           </ul>
    </Main>
  </BaseHTML>
   
     
 